@charset "UTF-8";

/* Reset e base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: #f0f8ff; /* Azul bebê */
  color: #001f3f; /* Azul marinho */
  line-height: 1.6;
  text-align: justify;
}


/* Header */
.header {
  background-color: #001f3f; /* Azul marinho */
  color: #ffffff;
  text-align: center;
  padding: 2rem 1rem;
}

.header .profile-img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  margin-bottom: 1rem;
  
}

.header h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.header .tagline {
  font-style: italic;
  color: #87cefa; /* Azul bebê mais forte */
  margin-bottom: 1rem;
}

.header nav a {
  margin: 0 1rem;
  color: #87cefa; /* Azul bebê */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  
}

.header nav a:hover {
  color: #ffffff;
}

/* Seções */
section {
  padding: 2rem 1rem;
  max-width: 900px;
  margin: auto;
}

section h2 {
  color: #001f3f; /* Azul marinho */
  margin-bottom: 1rem;
  border-bottom: 2px solid #001f3f;
  display: inline-block;
}

section#estudos {
  border: 3px solid #001f3f;
  border-radius: 7px;
}

.container-da-imagem {
  background: transparent;
}


/* Stacks */
.stack-icons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.stack-icons img {
  width: 90px;
  height: 90px;
  background-color: white;
  border: 2px solid #001f3f;
  border-radius: 30%;
}

#projetos {
  border-top: 3px solid #001f3f;
  width: 90vw;
}

/* Projetos */
.projeto {
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #ffffff;
  border-left: 5px solid #001f3f;
  box-shadow: 3px 2px+ +gba(0, 0, 0, 0.034);
}

.projeto img {
  width: 100%;
  max-width: 500px;
  margin-top: 1rem;
  margin-bottom: 3rem;
  border-radius: 5px;
  border: 3px solid #001f3f;
  box-shadow: 4px 5px #001f3f50;
}

/* Plano de Estudos */
ul {
  list-style-type: square;
  padding-left: 1.5rem;
}

/* Contato */
.redes {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.redes a img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #001f3f;
  transition: transform 0.3s;
}

.redes a img:hover {
  transform: scale(1.1);
}

/* Footer */
footer {
  background-color: #001f3f;
  color: #ffffff;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

/* Responsivo */
@media (max-width: 600px) {
  .header nav a {
    display: block;
    margin: 0.5rem 0;
  }

  .stack-icons {
    gap: 1rem;
  }
}
