@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

#introducao {
    padding: 60px 20px;
    background-color: #000000;
    height: 90vh;
    align-content: center;
}



.intro-container {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

.intro-foto {
    flex: 1 1 250px;
    text-align: center;
}

.intro-foto img {
    width: 250px;
    height: 250px;
    border-radius: 16%;
    border: 4px solid rgb(183, 220, 248);
    object-fit: cover;
}

.intro-texto {
    flex: 2 1 500px;
}

.intro-texto h1 {
    font-size: 2.5rem;
    color: rgb(183, 220, 248);
    margin-bottom: 15px;
    justify-items: center;
}

.intro-texto p {
    font-size: 1.3em;
    color: #ccc;
    line-height: 1.6;
    text-align: justify;
}

/* Responsivo */
@media(max-width: 768px) {
    .intro-container {
    flex-direction: column;
    text-align: center;
    }

    .intro-texto h1 {
    font-size: 2rem;
    }

    .intro-texto p {
    font-size: 0.95rem;}
}



img {
    width: 200px;  /*Retirar*/
}


h2 {
    text-align: center;
    font-size: 2rem;
    color: #00b4d8;
    padding: 20px;
    
}

.sobremim {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 100%;
    margin: auto;
    height: 80vh;
    padding: 10px 5px 5px 5px;
    background-color: #ffffff;
    align-items: center;
    color: black;
}

.sobre-mim-card {
    background: transparent;
    border: 1px solid #222;
    border-radius: 12px;
    padding: 30px 20px;
    text-align: left;
    min-height: 300px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    cursor: default;
    max-width: 700px;
    margin: auto;
}



.sobre-mim-card p {
    color: rgb(183, 220, 248);
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
}


.ferramentas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 100%;
    margin: auto;
    height: 98vh;
    padding: 20px;
    align-items: center;
}

#ferramentas {
    background-color: #000000;
}

#ferramentas h2 {
    color: rgb(183, 220, 248);
}

.card {
    background: transparent; /* remove fundo preto do card */
    border: 1px solid #222;
    border-radius: 12px;
    padding: 30px 20px;
    text-align: center;
    transition: transform 0.3s, background 0.3s;
    cursor: pointer;
    min-height: 300px;

}

.card:hover {
    transform: translateY(-8px);
    border-color: #00b4d8;
}


.card img {
    width: 140px;
    margin: auto;
    border-radius: 12px;
    background: transparent; 
    box-shadow: 
      0 -10px 20px rgba(0,180,216,0.7),  /* sombra acima */
      10px 0 20px rgba(0,180,216,0.5),   /* sombra lado direito */
      -10px 0 20px rgba(0,180,216,0.5);
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 8px;
}

.card h3 {
    padding-bottom: 8px;
}

.card p, h3 {
    color: rgb(183, 220, 248);
}

.card img:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 30px rgba(0,180,216,1), 0 0 50px rgba(0,180,216,0.7);
}

.projetos {
  width: 100%;
  padding: 0px 20px;
  background-color: black;
  text-align: justify;
}

.info-destaque {
  background-color: #e0f7fa;    
  border-left: 6px solid #00b4d8; 
  color: #007c91;
  padding: 15px 20px;
  margin: 20px auto;
  max-width: 800px;
  font-size: 1.1rem;
  line-height: 1.5;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,180,216,0.2);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.projetos h2 {
  text-align: center;
  font-size: 2rem;
  color: #00b4d8;
  margin-bottom: 30px;
  border-bottom: 2px solid #000;
  padding-bottom: 10px;
}

.card-projetos {
  background: #111;
  color: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 6px 14px rgba(0,0,0,0.4);
  margin-bottom: 40px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 2px solid rgb(183, 220, 248);
  max-width: 900px;
  margin: 40px  auto;
}

.card-projetos:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.6);
}

.card-projetos img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  font-size: 1.5rem;
  margin-bottom: 12px;
  color: #00b4d8;
  text-align: center;
}

.card-content p {
  font-size: 1rem;
  line-height: 1.6;
  color: #ddd;
}
